// app global css in SCSS form
.constraint {
  max-width: 800px;
  margin: auto;
}

body {
  background-image: url('/bg/bg-1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}