// app global css in SCSS form
.constraint {
  max-width: 800px;
  margin: auto;
  // border: 1px solid;
}

body {
  background-image: url('/bg/bg-1.jpg');
  // background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  // width: 100%;
  // height: 100vh;
  // display: flex;
  // justify-content: center;
  // align-items: center;

  // background-position: center;
  // background-size: 100px;
  // background-repeat: no-repeat;
  // background-attachment: fixed;
  // background-image: url("https://www.aurigait.com/resources/files/2017/01/256-256-c8b6cbadb620f8b3f588bf53464c8ab9.png");
}
